# for local dev http://localhost:8000
OIDC_AUTH_SERVER=https://sso-4ccc589b.sso.duosecurity.com/oidc/DIUHIIU5GLVCYFDLE7P7/
OIDC_CLIENT_ID=DIUHIIU5GLVCYFDLE7P7
OIDC_CLIENT_SECRET=XXXXXXXXXXX
OIDC_CALLBACK=/oidc/duo/callback/

# Default auth mode is SSO.
# To enable local or dual auth modes, set both:
#   AUTH_MODE=local   (or dual)
#   ENABLE_NON_SSO_AUTH_MODES=true
# AUTH_MODE=sso
# ENABLE_NON_SSO_AUTH_MODES=true
SSO_ADMIN_USERS=jrwallac

SESSION_COOKIE_SECURE=false
